@font-face {
  font-family: Helvetica Neue;
  src: url(./Helvetica\ Neue\ Medium\ Extended.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  width: 100%;
  font-family: sans-serif, Arial;
}

header .img1 {
  width: 90px;
  height: 43.83px;
  padding: 10px;
  margin-top: 5px;
}

.header-menus {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 626.34px;
  height: 50px;
  font-weight: 700;
}

.header-menus div {
  padding: 0 15px;
}

.header-weather {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 5px;
}

.temp-flex {
  display: flex;
  gap: 5px;
}

.temperature {
  height: 46px;
  padding: 3px 5px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cal-name {
  font-size: 10px;
}

.cal-numb {
  font-size: 14px;
}

.image-bar {
  margin: 15px 20px;
}

.topic-picture {
  display: block;
  height: 330px;
  width: 100%;
}

.main-garchig {
  padding: 0 0 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-number {
  color: #767676;
  background: #f0efef;
  border-radius: 100px;
  padding: 5px 10px;
}

.topic-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 36px;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
}

.topic-picture1 {
  display: flex;
  height: 385px;
  gap: 15px;
}

.topic1 {
  margin-top: 5px;
  padding: 0 40px 0;
}

.topic-menu1 {
  height: 333px;
  background-color: #999;
  opacity: 0.5;
  border: 2px solid grey;
}

.story-title {
  height: 25.5px;
  margin: 40px 30px 20px;
  font-size: 26px;
}

.story-title span {
  background-color: #00b0f4;
  font-size: 18px;
  padding: 2px 3px;
  color: white;
  font-weight: 700;
}

.scroll-story {
  overflow-x: auto;
}

.storypic {
  width: 10000px;
  display: flex;
  padding: 0 15px;
  gap: 15px;
}

.storypic img {
  height: 235px;
  width: calc(100vw / 3 - 90px / 3);
}

.date {
  height: 84.87px;
  background-color: #999;
  opacity: 0.5;
  border: 2px solid grey;
  margin-bottom: 10px;
}

.storynews {
  margin: 30px;
  flex: 1;
}

.storynews > img {
  width: 100%;
}

.story-news {
  height: 110px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 400px;
}

.story-comment {
  display: flex;
  gap: 15px;
  font-weight: 400;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.08);
}

.story-comment img {
  height: 110px;
  width: 105px;
  object-fit: cover;
}

.comment {
  display: flex;
  margin-top: 10px;
  gap: 15px;
}

.story-ad {
  display: flex;
  min-height: 513px;
  width: 100%;
  background-color: #999;
  opacity: 0.5;
  border: 2px solid grey;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
  padding: 20px;
  gap: 10px;
  background: #f8f8f8;
  margin-top: 20px;
  height: 65.37px;
  font-weight: 700;
}

.adtitle {
  height: 30.33px;
  width: 290px;
  margin-bottom: 50px;
  background-color: #999;
  opacity: 0.5;
  border: 2px solid grey;
}

.adnews {
  height: 280px;
  width: 290px;
  background-color: #999;
  opacity: 0.5;
  border: 2px solid grey;
  margin-bottom: 20px;
}

.ad-news {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.trendnews {
  height: 69px;
  width: 340px;
  background-color: #999;
  opacity: 0.5;
  border: 2px solid grey;
  margin-bottom: 20px;
}

.two-columns {
  display: flex;
}

.left-column {
  margin-top: 50px;
  margin-left: 80px;
  margin-right: 40px;
}

.trendtitle {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 88.33px;
  width: 340px;
  background-color: #999;
  opacity: 0.5;
  border: 2px solid grey;
}

.interview {
  height: 27.83px;
  margin: 80px 20px 20px;
  background-color: #999;
  opacity: 0.5;
  border: 2px solid grey;
}

.interpics {
  display: grid;
  gap: 15px;
  padding: 0 15px;
}

.inter-pic {
  height: 243px;
  background-color: #999;
  opacity: 0.5;
  border: 2px solid grey;
}

.inter-pic1 {
  height: 350px;
  background-color: #999;
  opacity: 0.5;
  border: 2px solid grey;
}

.lifestyletitle {
  height: 31px;
  margin: 50px 15px 15px;
  background-color: #999;
  opacity: 0.5;
  border: 2px solid grey;
}

.stylepic {
  display: flex;
  gap: 15px;
  padding: 0 15px;
}

.stylepic div {
  height: 360px;
  width: 100%;
  background-color: #999;
  opacity: 0.5;
  border: 2px solid grey;
}

.technotitle {
  height: 27.83px;
  margin: 50px 15px 15px;
  background-color: #999;
  opacity: 0.5;
  border: 2px solid grey;
}

.technopic {
  display: flex;
  gap: 15px;
  padding: 0 15px;
}

.technopic div {
  height: 320px;
  width: 100%;
  background-color: #999;
  opacity: 0.5;
  border: 2px solid grey;
}

.comictitle {
  height: 20px;
  margin: 50px 15px 15px;
  background-color: #999;
  opacity: 0.5;
  border: 2px solid grey;
}

.comicpic div {
  height: 350px;
  width: 100%;
  background-color: #999;
  opacity: 0.5;
  border: 2px solid grey;
}

.comicpic {
  display: flex;
  gap: 15px;
  padding: 15px;
}

.black {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  padding: 50px 15px 0;
}

.newswatch {
  height: 21.5px;
  background-color: #999;
  opacity: 0.5;
  border: 2px solid grey;
  margin-bottom: 20px;
}

.blacknews {
  height: 262px;
  background-color: #999;
  opacity: 0.5;
  border: 2px solid grey;
}

/* .bk {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */

.columnnews {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 50px 15px;
}

.footer-logo {
  height: 39.23px;
  background-color: #999;
  opacity: 0.5;
  border: 2px solid grey;
}

.footer-menus {
  height: 97.88px;
  background-color: #999;
  opacity: 0.5;
  border: 2px solid grey;
}

.footer-company {
  height: 40px;
  background-color: #999;
  opacity: 0.5;
  border: 2px solid grey;
}

.footer-logos {
  height: 40px;
  background-color: #999;
  opacity: 0.5;
  border: 2px solid grey;
}

.end1 {
  margin-bottom: 30px;
}

.end2 {
  margin-top: 30px;
}

@media (max-width: 961px) {
  .header-menus {
    display: none;
  }

  .topic1 {
    display: none;
  }

  .date {
    display: none;
  }
}

@media (max-width: 640px) {
  .story-title {
    margin: 40px 15px 20px;
  }

  .storynews {
    margin: 15px;
  }

  .storypic img {
    height: 235px;
    width: calc(50vw - 45px / 2);
  }

  .lifestyle-pic1 {
    display: none;
  }

  .lifestyle-pic2 {
    display: none;
  }

  .techno-pic1 {
    display: none;
  }

  .techno-pic2 {
    display: none;
  }

  .comic-pic1 {
    display: none;
  }
}
@media (min-width: 640px) and (max-width: 961px) {
  .story-news {
    height: 140px;
  }

  .storypic {
    padding: 0 30px;
  }

  .inter-pic1 {
    height: 400px;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .interview {
    margin: 80px 30px 20px;
  }

  .interpics {
    padding: 0 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .stylepic {
    padding: 0 30px;
  }

  .lifestyletitle {
    margin: 50px 30px 15px;
  }

  .lifestyle-pic2 {
    display: none;
  }

  .techno-pic2 {
    display: none;
  }

  .techno-pic2 {
    display: none;
  }

  .technopic {
    padding: 0 30px;
  }

  .technotitle {
    margin: 50px 30px 15px;
  }

  .comictitle {
    margin: 50px 30px 15px;
  }

  .comicpic {
    padding: 30px;
  }

  /* .columnnews div {
    width: 100%;
    gap: 15px;
  } */

  .columnnews {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .black {
    padding: 50px 30px 0;
  }

  footer {
    padding: 50px 30px;
  }
}

@media (max-width: 961px) {
  .left-column {
    display: none;
  }

  .temperature {
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 5px;
  }
}

@media (min-width: 961px) {
  .topic {
    display: none;
  }

  header {
    padding: 0 40px 0;
  }

  .header-bar {
    display: none;
  }

  .header-weather {
    justify-content: end;
  }

  .cal-name {
    font-size: 12px;
  }

  .cal-numb {
    font-size: 18px;
  }

  header .img1 {
    width: 119px;
    height: 38.91px;
    padding: 0px;
    margin-top: 0px;
  }

  header {
    height: 88.91px;
    align-items: center;
  }

  .image-bar {
    display: none;
  }

  .temperature {
    height: 50px;
  }

  .story-title {
    margin-left: 40px;
    margin-right: 40px;
  }

  .storypic {
    padding: 0 40px;
    /* margin-left: 25px;
    margin-right: 40px; */
  }

  .storypic img {
    height: 235px;
    width: calc(100vw / 6 - 155px / 6);
  }

  .storynews {
    margin: 40px;
  }

  .interpics {
    padding: 0 40px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
  }

  .interview {
    margin: 80px 40px 20px;
  }

  .inter-pic1 {
    height: 500px;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .stylepic {
    padding: 0 40px;
  }

  .lifestyletitle {
    margin: 50px 40px 15px;
  }

  .technopic {
    padding: 0 40px;
  }

  .technotitle {
    margin: 50px 40px 15px;
  }

  .comictitle {
    margin: 50px 40px 15px;
  }

  .comicpic {
    padding: 40px;
  }

  .black {
    padding: 50px 40px 0;
  }

  .columnnews {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  footer {
    padding: 50px 40px;
  }
}
@media (min-width: 640px) {
  .blacknews {
    height: 312px;
  }

  .end1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .end2 {
    display: flex;
    justify-content: space-between;
  }

  footer div {
    width: 100%;
  }
}
